<sand-card [displayHeader]="true" [displayBody]="true" [displayFooter]="true" color="info">
  <div header class="h1">
    Stats
  </div>
  <div content>
    <div class="h2">Filtres</div>
    <sand-input label="Date de début" type="datetime-local" [formValue]="filter_date_from"></sand-input>
    <sand-input label="Date de fin" type="datetime-local" [formValue]="filter_date_to"></sand-input>
  </div>
  <div footer class="card-footer">
    <sand-button class="success" id="apply_filters" (clickButtonEvent)="getClickButton($event)">Filtrer</sand-button>
    <sand-button class="error" [secondary]="true" id="clear_filters" (clickButtonEvent)="getClickButton($event)">Supprimer les filtres</sand-button>
  </div>
</sand-card>

<sand-tab-group color="success">
  <sand-tab-item label="Nombre de tâches par projet">
    <sand-tab-group color="info">
      <sand-tab-item *ngFor="let user of users" [label]="user.firstname">
        <app-stats-total-tasks [filterDateFrom]="date_from" [filterDateTo]="date_to" [user]="user.id"></app-stats-total-tasks>
      </sand-tab-item>
    </sand-tab-group>
  </sand-tab-item>
</sand-tab-group>
