<sand-card [displayHeader]="true" [displayBody]="true" [displayFooter]="false" color="success">
  <div header class="h2">
    Accueil
  </div>
  <div content>
    <div class="h3">Présentation</div>
    <p>
      TimeR est un gestionnaire de tâches pour votre équipe.
    </p>
    <div class="h3">Fonctionnalités</div>
    <p>
      <sand-list [listed]="true">
        <sand-list-item>Calendrier</sand-list-item>
        <sand-list-item>Connextion</sand-list-item>
        <sand-list-item>
          Plusieurs rôles
          <sand-list [listed]="true">
            <sand-list-item>Utilisateur</sand-list-item>
            <sand-list-item>Admin</sand-list-item>
          </sand-list>
        </sand-list-item>
        <sand-list-item>Statistiques par personnes</sand-list-item>
      </sand-list>
    </p>
  </div>
</sand-card>
<div class="card-img">
  <sand-card [displayHeader]="true" [displayBody]="true" src="https://img.freepik.com/vecteurs-libre/equipe-gestion-agile-reunion-equipe-commerciale-vecteur-tableau-taches-scrum-gens-planifient-processus-travail_53562-11181.jpg">
    <div header class="h3">
      App pour une meilleure gestion agile
    </div>
  </sand-card>
</div>