<sand-card [displayHeader]="true" [displayBody]="true" [displayFooter]="false" color="success">
  <div header class="h2">Accueil</div>
  <div content>
    <div class="h3">Présentation</div>
    <p>
      <strong>TimeR</strong> est un gestionnaire de tâches pour vos projets.<br/>
      Vos collaborateurs pourront saisir leurs temps sur différents projets liés à votre entreprise, et vos managers pourront visualiser les données rattachées aux projets selon plusieurs critères.
    </p>
    <div class="h3">Fonctionnalités</div>
    <p>
      <sand-list [listed]="true">
        <sand-list-item>Une gestion des temps sur un <strong>calendrier</strong></sand-list-item>
        <sand-list-item>Un système de <strong>connexion</strong> avec les rôles :
          <sand-list [listed]="true">
            <sand-list-item><strong>Collaborateur :</strong> afin de saisir simplement ses temps sur des projets,</sand-list-item>
            <sand-list-item><strong>Manager :</strong> afin de visualiser les données.</sand-list-item>
          </sand-list>
        </sand-list-item>
        <sand-list-item>Des <strong>statistiques</strong> liées aux collaborateurs et aux projets</sand-list-item>
      </sand-list>
    </p>

    <div class="h3">Nos locaux</div>
    <sand-iframe
      id="999"
      title="La !"
      width="250px"
      height="250px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d915.818693535373!2d4.8373755327444306!3d45.74568000348575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea47ef557179%3A0x9c043d6c0f43647f!2sLyon%20Ynov%20Campus!5e0!3m2!1sfr!2sfr!4v1653992335069!5m2!1sfr!2sfr"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
    >
    </sand-iframe>

  </div>
</sand-card>
<div class="card-img">
  <sand-card [displayHeader]="true" [displayBody]="true" src="https://img.freepik.com/vecteurs-libre/equipe-gestion-agile-reunion-equipe-commerciale-vecteur-tableau-taches-scrum-gens-planifient-processus-travail_53562-11181.jpg">
    <div header class="h3">TimeR est une application vous aidant à mettre en place une meilleure gestion agile dans vos projets</div>
  </sand-card>
</div>
