<sand-card [displayHeader]="true" [displayBody]="true" [displayFooter]="true" color="info">
  <div header class="h2">Tasks</div>
  <div content>
    <div class="h2">Filtres</div>
    <p>Projet</p>
    <sand-select [formValue]="selectedProject" [arrayItems]="projects" (event)="projectSelectedChanged($event)"></sand-select>
    <div *ngIf="userLoggedIsAdmin()">
      <p>Choix du collaborateur</p>
      <sand-select [formValue]="selectedUser" [arrayItems]="users" (event)="userSelectedChanged($event)"></sand-select>
    </div>
  </div>
  <div footer class="h2">
    <sand-button class="info" id="apply_filters" (clickButtonEvent)="filtreTasks()">Filtrer</sand-button>
  </div>
</sand-card>

<div class="calendarContainer">

</div>
<full-calendar [options]="calendarOptions"></full-calendar>


<sand-modal *ngIf="displayed">
  <div title>
    Déclaration
  </div>
  <div detail>

      <sand-input label="Titre" type="text" [formValue]="title"></sand-input>
      <sand-input label="Date début" type="datetime-local" [formValue]="start_date"></sand-input>
      <sand-input label="Date fin" type="datetime-local" [formValue]="end_date"></sand-input>

  </div>
  <div action>

    <sand-button *ngIf="id" (click)="deleteTask()" class="error btnTaskDelete" [secondary]="true">Supprimer</sand-button>
    <sand-button (click)="submitUserTask()" class="success">Valider</sand-button>
  </div>
</sand-modal>
