<sand-card [displayHeader]="true" [displayBody]="true" color="info">
  <div header class="h2">Formulaire de connexion</div>
  <div content style="width:100%;">
    <div *ngIf="errors" class="errors">
      <p>{{ errors }}</p>
    </div>
    <sand-input label="Email" type="email" [formValue]="email"></sand-input>
    <sand-input label="Mot de passe" type="password" [formValue]="password"></sand-input>
    <sand-button class="info" (click)="logUser()">Se connecter</sand-button>
  </div>
</sand-card>
